/* background transparency */
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('background.jpg');
    background-position: center;
    background-size: 100%;
    opacity: 0.92;
    z-index: -1;
    pointer-events: none;
}

/* heading styling */
header{
    position: relative;
    font-size: 200%;
    text-align: center;
    border: 3px solid rgb(23, 87, 23);
    margin: 0% 20% 0% 20%;
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
}

/* heading background transparency */
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('header.jpg');
    background-size: 100%;
    opacity: 0.8;
    z-index: -1;
    border-radius: 25px;
    pointer-events: none;
}

/* section styling */
section{
    background-color: aquamarine;
    color:rgb(255, 0, 0);
    font-size: x-large;
    text-align: center;
    margin: 0% 20% 0% 20%;
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
}

/* footer styling */
footer{
    position: relative;
    font-size: 200%;
    text-align: center;
    border: 3px solid rgb(23, 87, 23);
    margin: 0% 20% 0% 20%;
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
}

/* footer background transparency */
footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('header.jpg');
    background-size: 100%;
    opacity: 0.8;
    z-index: -1;
    border-radius: 25px;
    pointer-events: none;
}
