@page "/average"
@rendermode InteractiveServer
@inject IMeasurementRepository measurementRepository;
<PageTitle>Average</PageTitle>
<h1>Average</h1>
<p>Op deze pagina wordt een gemiddelde</p>
@* @if (measurements == null)
{
    <p><em>Data wordt geladen, even geduld</em></p>
} *@
@* else
{
    <p>gemiddelde temperatuur: @avgT</p>
} *@